<div class="home_container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 276,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 455,98"
  ></app-card>
  <app-card 
    gameCover="assets/bt-5.jpg"
    gameLabel="ASSOCIATION"
    gameType="DISC | PS3"
    gamePrice="R$ 324,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 276,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 455,98"
  ></app-card>
</div>
